.user-detail{
    color:white;
    height: 100vh;
    .user-detail-title{
    font-size: 2vmax; 
    margin: 1vmax;  
    }
    .user-detail-userInfor{
    font-size: 2vmax;
    margin: 1vmax;
    }
    .user-detail-btn{
    font-size: 2vmax;
    margin: 1vmax;
    width: 10vmax;
    }
}