@import "~bootstrap/scss/bootstrap";
.article2-container{
    background-image:url(../../images/banner1.png);
    background-position: center;
    background-repeat: none;
    background-size: cover;
    background-attachment: fixed;
    z-index: 1;
    .article2{
    margin-left:0vmax;
    display: flex;
    justify-content: space-between;
    background-color: rgba(74, 74, 74, 0.5);
    backdrop-filter: blur(1px);
    padding: 4vmax;
    // border: solid red;
    .article2-card{
        // width: 40vmax;
        text-align: start;
        .card-header{
            color: white;
            border-bottom: 1px solid white;
            .card-header h4, h5 {
                font-size: 1.5vmax;
            }
        }
        .card-body{
            .card-title{
                font-size: 1.1vmax;
                color: white;
            }
            .card-text{
                font-size: 1.1vmax;
                color: white;
                text-align: justify;
            }
            .card-btn{
                font-size: 1.1vmax;
                color: white;
            }
        }
    }
    .article2-video{
    }
}
}