*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 10px;
}
.article6-header{
    background-image: url(../../images/banner4.jpg);
    background-repeat: none;
    background-position: center;
    background-size: cover;
    height: auto;
    // background-attachment:fixed;
    font-family: 'Ms Madi', cursive;
}