*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 10px;
}
.header{
    background-image: url(../../images/banner1.png);
    background-repeat: none;
    background-position: center;
    background-size: cover;
    height: auto;
    background-attachment:fixed;
}